img_test_lmdb/
img_train_lmdb/
**/build
.vscode/

*.jpg
*.png
*.binaryproto

*.caffemodel
*.solverstate
*.zip
*.html
*.data
*.log

image/*jpg
image/*png
image/*zip
image/*txt

imagelist/*.txt

labels/*.txt

